

.info {
    padding: 50px 50px 0 50px;
    direction: rtl;
}

.info p {
    padding: 20px;
}

.packages {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 20px;
}

.content-center {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.package-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.package-controller button {
    /* width: 90%; */
    width: 150px;
    margin: 10px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #eeeeee;

}

.package-controller button.active {
    background-color: #4ec6de;
    color: white;
}

.content_box {
    width: 100%;
}

.content_box .content {
    display: none;
}

.content_box .content.active {
    display: block;
}


.limit, .unlimited{
    text-align: center;
    max-width: 750px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.limit{
    margin-top: 50px;
    margin-bottom: 50px;
}

.unlimited{
    margin-top: 50px;
    margin-bottom: 50px;
}

.package-detail {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
}

.package {
    background-color: #fff;
    margin: 50px 10px;
    padding-top: 90px;
    width: 200px;
    height: 280px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    position: relative;
    cursor: pointer;
}

.package-shape {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.package-shape .package-top-shape-rectangle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    border-radius: 15px;
    background-color: #4ec6de;
}

.package-top-shape-data h2 {
    color: white;
}

.package-shape .package-shape-top-triangle {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    left: 50%;
    bottom: -9px;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #4ec6de;
}

.package-bottom-shape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #98ca3d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid gainsboro;
}

.package-data {
    width: 100%;
    padding: 0 15px;
    /* background-color: blueviolet; */
  }

  .package-data-money,
  .package-data-duration,
  .package-data-connectionType,
  .package-data-speed {
    direction: rtl;
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .package-data-duration{
    margin-right: 2px;
  }

  .package-data-night-speed{
    margin-top: 8px;
    margin-right: 3px;
  }

  .package-data-money i,
  .package-data-duration i,
  .package-data-connectionType i,
  .package-data-speed i {
    font-size: 18px;
    color: #000000;
  }

  .package-data-duration p,
  .package-data-connectionType p,
  .package-data-speed p {
    margin-right: 15px;
  }

  .package-data-money p{
    margin-right: 10px;
  }
  .package-data-speed p {
    direction: ltr;
  }


.package-data-night-speed {
    position: relative;

  }

  .package-data-night-speed i{
    position: relative;
    left: 0.025em;
  }

  .night-speed-start,
  .night-speed-end {
    font-size: 8px;
    background-color: #4ec6de;
    color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .night-speed-start {
    position: absolute;
    top: -5px;
    right: 11px;
  }

  .night-speed-end {
    position: absolute;
    top: -5px;
    right: -11px;
  }

  .night-speed-start span, .night-speed-end span {
    height: 11px;
  }



/* 
  .night-speed-end span {
    margin-top: 0.1em;
  } */

 

  .night-speed-line{
    position: absolute;
    top: -5px;
    right: -0.16em;
    height: 10px;
    width: 20px;
    border: solid 1px #000;
    border-color: #4ec6de transparent transparent transparent;
    border-radius: 50%/10px 10px 0 0;
    rotate: -5deg;
  }
