@font-face {
  font-family: "vazir";
  src: url("../assets/fonts/vazir/Vazir-Medium.woff") format("woff"),
    url("../assets/fonts/vazir/Vazir-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "iransans";
  src: url("../assets/fonts/iransans/Sans\ a4fran3.woff") format("woff");
}

/* 
  #4EC6DE

  #98CA3D
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir";
}

body {
  background-color: #b2b3b607;
}

.languages{
  background-color: #4ec6de;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-self: start;
  height: 30px;
  /* position: relative;
  z-index: 101; */
}





.languages a{
  margin-right: 20px;
  color: white;
  /* background-color: rebeccapurple; */
  font-size: 14px;
  
}

.languages a:last-child{
  margin-bottom: 5px;
  
}



.nav {
  width: 100%;
  padding: 5px 30px;
  background-color: white;
  position: sticky;
  top: -0.15px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
  user-select: none;
}
a {
  color: #98ca3d;
  text-decoration: none;
}
.nav .logo {
  width: 80px;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
  color: black;
}

.backdrop {
  height: 100%;
  width: 100%;
}

/* body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 100px;
  background: rgb(75, 96, 165);
  background-clip: content-box;
} */

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 768px) {
  .nav-items {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .verticle_container {
    /* background-color: cadetblue; */
    width: 100%;
    height: 70px;
    position: relative;
  }

  .verticle_links {
    /* background-color: rebeccapurple; */
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
  }

  .verticle_links::-webkit-scrollbar {
    width: 3px;
  }
  .verticle_links::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 100px;
    background: black;
    background-clip: content-box;
  }

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  /* Making Icon Center */
  .navCloseBtn,
  .navOpenBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    width: 40px;
    height: 40px;
  }

  .navOpenBtn:hover,
  .navCloseBtn:hover {
    background-color: #e2e6e950;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 280px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 3;
  }

  .nav .nav-links li {
    display: block;
    width: 100%;
    margin: 10px auto;
  }

  .nav .nav-links li a {
    display: block;
    width: 90%;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid gainsboro;
    text-align: center;
    border-radius: 5px;
  }

  .nav.openNav .nav-links {
    right: 0;
  }
  .nav .navOpenBtn {
    color: black;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 5px;
    left: 5px;
    color: black;
    cursor: pointer;
  }
}

/* Slider starts */
.slider {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  user-select: none;
  display: flex;
}
.slide-img {
  width: 100%;
}

.slider .prev,
.slider .next {
  position: absolute;
  top: 50%;
  margin: 0 30px;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #98ca3d;
  transition: 0.1s;
  user-select: none;
}

.slider .next {
  right: 0;
}
.slider .dotsbox {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  text-align: center;
}
.dotsbox .dot {
  display: inline-block;
  width: 20px;
  height: 1px;
  border: 3px solid #fff;
  margin: 0 10px;
  cursor: pointer;
}

.dotsbox .active,
.dotsbox .dot:hover {
  border-color: #98ca3d;
}

/* About Us */

.about-us-top{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  direction: rtl;
  margin-bottom: 30px;
  margin-top: 50px;
}

.about-us-top  h2{
  padding: 20px 0;
  text-align: right;
}

.about-us-top p{
  line-height: 2.5;
  text-justify: inter-word;
  text-align: justify;
}

.about-us-bottom {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}



.about-us-bottom-image {
  width: 50%;
  display: grid;
  place-items: center;
  /* background-color: coral; */
}

.about-us-bottom-image img {
  display: block;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
}

.about-us-bottom-content {
  width: 50%;
  direction: rtl;
  padding: 0 50px;
}

.about-us-bottom-content-head{
  /* background-color: rebeccapurple; */
  text-align: right;
  margin-bottom: 20px;
}

.about-us-bottom-content-detail{
  /* background-color: #4ec6de; */
  padding-right: 50px;
}

.about-us-bottom-content-detail ul li{
  margin: 10px 0;
  line-height: 2.2;
  text-justify: inter-word;
  text-align: justify;
}



@media screen and (max-width: 900px) {
  .slider .prev,
  .slider .next {
    margin: 0 5px;
    font-size: 25px;
    padding: 10px;
  }

  .slider .dotsbox {
    bottom: 5px;
  }

  .about-us-bottom {
    height: auto;
    padding: 25px;
    row-gap: 20px;
  }
  .about-us-bottom-image {
    width: 100%;
    order: 2;
  }

  .about-us-bottom-content {
    width: 100%;
    font-size: 14px;
    order: 1;
    padding: 0;
  }
}

/* services starts */
.service {
  max-width: 1400px;
  width: 100%;
  margin: 10px auto;
  /* background-color: #4ec6de; */
}

.service .service-title h1 {
  text-align: center;
  padding-top: 10px;
  padding: 65px 0;
}

.service-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.service-cards .service-item {
  position: relative;
  width: 250px;
  height: 290px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid rgb(247, 247, 247);
  text-align: center;
  padding: 20px;
  direction: rtl;
  padding-top: 80px;
  border-radius: 15px;
  background-color: white;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}




.service-item .service-icon {
  margin: 0 auto;
  color:#4ec6de;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 15px;
}

.service-item .service-item-title {
  background-image: url('assets/Icons/service-card-icon-1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 180px;
  height: 75px;
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #4ec6de; */
}

.service-item  .service-item-footer{
  background-image: url('assets/Icons/service-card-icon-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 11px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0);
}

.service-item .service-description p {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .service-cards {
    row-gap: 50px;
  }
}

