
  
  /* Siderbar end */
  
  
  /* Slider starts */
  .slider {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    user-select: none;
    display: flex;
  }
  .slide-img {
    width: 100%;
  }
  
  .slider .prev,
  .slider .next {
    position: absolute;
    top: 50%;
    margin: 0 30px;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #98ca3d;
    transition: 0.1s;
    user-select: none;
  }
  
  .slider .next {
    right: 0;
  }
  .slider .dotsbox {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    text-align: center;
  }
  .dotsbox .dot {
    display: inline-block;
    width: 20px;
    height: 1px;
    border: 3px solid #fff;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .dotsbox .active,
  .dotsbox .dot:hover {
    border-color: #98ca3d;
  }

/* About Us */

.about_us{
  max-width: 1400px;
  width: 90%;
  margin: 80px auto;
  scroll-margin-top: 100px; 
  direction: rtl;

}

.about_us  h1{
  text-align: right;
  padding-top: 10px;
  padding: 20px 0;

}



.tabs{

  display: flex;
  align-items: center;
  user-select: none;

}

.tabs .tab_box{
  direction: rtl;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* column-gap: 10px; */
  position: relative;
}


.tabs .tab_box label{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  color: #98ca3d;
  cursor: pointer;
  transition: all 0.3s ease;


}



.tabs .slider{
  position: absolute;
  height: 3px;
  width: 33.3%;
  background-color: #4ec6de;
  right: 0;
  bottom: -5px;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

#history:checked ~ .tab_box .slider{
  right: 0;
}

#achievement:checked ~ .tab_box .slider{
  right: 33.3%;
}

#license:checked ~ .tab_box .slider{
  right: 66.6%;
}

.tabs >  input[type=radio]{
  display: none;
}






.content_box{
  padding: 20px;
}

.content_box .content{
  display: none;
}


.content_box .content.active{
  display: block;
}

.content_box .content h2{
  margin-bottom: 10px;
}


.about-us-top{
  direction: rtl;
}



.about-us-top p{
  line-height: 2.5;
  text-justify: inter-word;
  text-align: justify;
}

.about-us-bottom {
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
}



.about-us-bottom-image {
  width: 50%;
  display: grid;
  place-items: center;
  /* background-color: coral; */
}

.about-us-bottom-image img {
  display: block;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
}

.about-us-bottom-content {
  width: 50%;
  direction: rtl;
  padding: 0 50px;
}

.about-us-bottom-content-head{
  /* background-color: rebeccapurple; */
  text-align: right;
  margin-bottom: 20px;
}

.about-us-bottom-content-detail{
  /* background-color: #4ec6de; */
  padding-right: 50px;
}

.about-us-bottom-content-detail ul li{
  margin: 10px 0;
  line-height: 2.2;
  text-justify: inter-word;
  text-align: justify;
}



@media screen and (max-width: 900px) {
  .slider .prev,
  .slider .next {
    margin: 0 5px;
    font-size: 25px;
    padding: 10px;
  }

  .slider .dotsbox {
    bottom: 5px;
  }

  .about-us-bottom {
    height: auto;
    padding: 25px;
    row-gap: 20px;
  }
  .about-us-bottom-image {
    width: 100%;
    order: 2;
  }

  .about-us-bottom-content {
    width: 100%;
    font-size: 14px;
    order: 1;
    padding: 0;
  }
}

/* services starts */
.service {
  max-width: 1400px;
  width: 100%;
  margin: 10px auto;
  scroll-margin-top: 50px; 
  /* background-color: #4ec6de; */
}

.service .service-title h1 {
  text-align: center;
  padding-top: 10px;
  padding: 65px 0;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 255px);
  gap: 80px 75px;
  /* background-color: #4ec6de; */
  place-items: center;
  place-content: center;
}

.service-cards .service-item {
  position: relative;
  width: 250px;
  height: 290px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid rgb(247, 247, 247);
  text-align: center;
  padding: 20px;
  direction: rtl;
  padding-top: 80px;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}




.service-item .service-icon {
  margin: 0 auto;
  color:#4ec6de;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 15px;
}

.service-item .service-item-title {
  background-image: url('/Yarqin-Mirzad/assets/Icons/service-card-icon-1.svg');
  /* background-image: url('/assets/Icons/service-card-icon-1.svg'); */
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 180px;
  height: 75px;
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
  /* background-color: #4ec6de; */
}

.service-item  .service-item-footer{
  background-image: url('/Yarqin-Mirzad/assets/Icons/service-card-icon-2.svg');
    /* background-image: url('/assets/Icons/service-card-icon-2.svg'); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 11px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0);
}

.service-item .service-description p {
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .service-cards {
    grid-template-columns: repeat(auto-fit, 255px);
  }
}




.proposal{
  width: 100%;

  /* background-color: #4ec6de; */
  scroll-margin-top: 100px; 
  max-width: 1400px;
  width: 90%;
  margin: 80px auto;
  direction: rtl;

}

.proposal-title h1{
  text-align: right;
  padding-top: 10px;
  padding: 0 0 30px 0;
}

.proposal-detail{
  padding: 0 100px;
}
.proposal-detail label{
  display: block;
  padding: 10px;
}

.proposal-detail #pname{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  background-color: white;
  border: 1px solid gainsboro;
}


.proposal-detail #ptext{
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  background-color: white;
  font-size: 16px;
  resize: none;
  border: 1px solid gainsboro;
  outline: none;
}




.proposal-detail button {
  background-color: #fff;
  border: 1px solid gainsboro;
  font-size: 14px;
  font-size: 1.1rem;
  padding: 0.3rem 2rem;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  margin-top: 10px;
  background-color:  #4ec6de;
  color: #fff;
  cursor: pointer;
}

.proposal-detail #pname:focus, .proposal-detail #ptext:focus{
  border-color: #a3a7aa;
}

.proposal-detail button:hover{
  opacity: 0.8;
}



.company-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 30px;

}

.company-container img{
  width: 180px;
}